<% provide(:title, @profile.user.name) %>

<body>
  <div>
    <%= link_to "O", edit_profile_path(@profile.user.id),class: "" %>
    <ul>
      <!-- <li> -->
        <!-- <div class="profileForm__picWindow">+</div> -->
        <!-- <label for="pic-choose-btn" class="pic-choose-label">
          <svg id="レイヤー_1" class="plus-svg" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 169 169"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:5px;}</style></defs><title>plus</title><line class="cls-1" y1="84.5" x2="169" y2="84.5"/><line class="cls-1" x1="84.5" x2="84.5" y2="169"/></svg>
        </label> -->
      <!-- </li> -->
      <div class="profilePic">顔</div>
      <li>
        <h2>ユーザネーム</h2>
        <%= @profile.user.name %>
      </li>
    </ul>

    <ul>
      <li>
        <h2>ギャラリーネーム</h2>
        <% if @profile.gallery_name? %>
          <%= @profile.gallery_name %>
        <% else %>
          <p>まだ入力されてません</p>
        <% end %>
      </li>
      <li>
        <h2>自己紹介</h2>
        <% if  @profile.content? %>
          <%= @profile.content %>
        <% else %>
          <p>まだ入力されてません</p>
        <% end %>
      </li>
      <li>
        <h2>ホームページ</h2>
        <% if  @profile.hp? %>
          <%= @profile.hp %>
        <% else %>
          <p>まだ入力されてません</p>
        <% end %>
      </li>
    <ul>

      <ul>
        <li>
            <% if  @profile.tw_id? %>
            <a href="https://twitter.com/<%= @profile.tw_id %>">@<%= @profile.tw_id %></a>
            <% end %>
        </li>
        <li>
            <% if  @profile.insta_id? %>
            <a href="https://www.instagram.com/<%= @profile.tw_id %>">@<%= @profile.insta_id %></a>
            <% end %>
        </li>
      </ul>
  </div>
</body>
