<body class="welcomePage">
  <div class="welcomeTop">
    <h1 class="welcomeTop__title">
      <%= image_tag 'hold-hands-logo.svg' %>
    </h1>
  </div>
  <div class="signupPage">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

    <ul class="signupPage__inputs">
      <li>
        <%= f.email_field :email, :placeholder => "Eメール", :class => "signupPage__inside signupPage__inside--email" %>
        <%= f.text_field :name, class: 'form-control' %>
      </li>
      <li>
        <%= f.password_field :password,:placeholder => "パスワード", :class => "signupPage__inside signupPage__inside--password" %>
        <%= f.text_field :name, class: 'form-control' %>
      </li>
      <li>
        <%= f.password_field :password_confirmation,:placeholder => "パスワード(確認)", :class => "signupPage__inside signupPage__inside--password" %>
        <%= f.text_field :name, class: 'form-control' %>
      </li>
      <li>
        <%= f.text_field :name, :placeholder => "ユーザネーム", :class => "signupPage__inside signupPage__inside--name" %>
        <%= f.text_field :name, class: 'form-control' %>
      </li>
      <%= f.submit "完了", class: "signupBtn"%>
    </ul>
    <% end %>
  </div>
</div>
