<body class="profileForm">
  <div>
    <%= form_for(:session, url: root_path) do |f| %>
    <ul class="profileForm__lists">
      <li class="profileForm__list">
        <div class="profileForm__picWindow">+</div>
        <%= f.file_field :file, class: "pic-choose"%>
      </li>

      <li class="profileForm__list">
        <%= f.label :name,"ユーザネーム（必須）", class: "profileForm__textFieldTitle" %>
        <%= f.text_field :name, class: "profileForm__textField"%>
      </li>
      <li class="profileForm__list">
        <%= f.label :gallery_name,"ギャラリーネーム", class: "profileForm__textFieldTitle" %>
        <%= f.text_field :gallery_name, class: "profileForm__textField"%>
      </li>
      <li class="profileForm__list">
        <%= f.label :hp,"ホームページ", class: "profileForm__textFieldTitle" %>
        <%= f.text_field :hp, class: "profileForm__textField"%>
      </li>
      <p class="profileForm__snsP">以下、SNSのアカウントを入力してください。</p>
      <ul class="profileForm__snsLists">
        <li class="profileForm__snsList profileForm__snsListB">
          <%= f.label :tw_id,"Twitter", class: "profileForm__sns" %>
          <%= f.text_field :tw_id, class: "profileForm__snsTextField"%>
        </li>
        <li class="profileForm__snsListB">
          <%= f.label :insta_id,"Instagram", class: "profileForm__sns" %>
          <%= f.text_field :insta_id, class: "profileForm__snsTextField"%>
        </li>
        <li class="profileForm__snsList profileForm__snsListB">
          <%= f.label :fb_id,"facebook", class: "profileForm__sns" %>
          <%= f.text_field :fb_id, class: "profileForm__snsTextField"%>
        </li>
        <li class="profileForm__snsListB">
          <%= f.label :minne_id,"minne", class: "profileForm__sns" %>
          <%= f.text_field :fb_id, class: "profileForm__snsTextField"%>
        </li>
      </ul>

      <li class="profileForm__list">
        <%= f.label :text,"自己紹介", class: "profileForm__textFieldTitle" %>
        <%= f.text_area :text, class: "profileForm__textField profileForm__textField--intro" %>
      </li>
      <%= f.submit "完了!", class: "profileForm__submit" %>
    </ul>
    <% end %>
  </div>
</body>
