<p>プロフィール入力画面</p>

<div>
  <%= form_for(:session, url: root_path) do |f| %>
  <ul>
    <li>
      <p>プロフィール画像</p>
      <p>ここにプロフィール画像がきます</p>
      <%= f.file_field :file%>
    </li>

    <li>
      <%= f.label :name,"ユーザネーム" %>
      <p>tsubasa(signupで入力した値が入る)</p>
    </li>
    <li>
      <%= f.label :gallery_name,"ギャラリーネーム" %>
      <%= f.text_field :gallery_name%>
    </li>
    <li>
      <%= f.label :hp,"ホームページ" %>
      <%= f.text_field :hp%>
    </li>
    <p>SNSのアカウントを入力してください</p>
    <li>
      <%= f.label :tw_id,"Twitter" %>
      <%= f.text_field :tw_id%>

      <%= f.label :insta_id,"Instagram" %>
      <%= f.text_field :insta_id%>

      <%= f.label :fb_id,"facebook" %>
      <%= f.text_field :fb_id%>

      <%= f.label :minne_id,"minne" %>
      <%= f.text_field :fb_id%>
    </li>

    <li>
      <%= f.label :text,"自己紹介" %>
      <%= f.text_field :text %>
    </li>
    <%= f.submit "完了!"%>
  </ul>
  <% end %>
</div>
