<p>プロフィール入力画面</p>

<div>
  <%= form_for(:session, url: root_path) do |f| %>
  <ul>
    <li>
      <%= f.email_field :email, :placeholder => "email" %>
    </li>
    <li>
      <%= f.password_field :password,:placeholder => "password" %>
    </li>
    <li>
      <%= f.text_field :name, :placeholder => "ユーザ名" %>
    </li>
    <%= f.submit "登録する"%>
  </ul>
  <% end %>
</div>
