<head>
    <meta name="viewport" content="user-scalable=no" />
</head>
<body class="community-new">
  <h1 class="community-new-title">コミュニティ編集</h1>
  <div>
    <%= form_for(@event) do |f| %>
    <span class="picture">
      <%= f.file_field :picture %>
    </span>
    <ul>
      <li class="community-new-items">
        <%# ここは編集しない。 %>
      </li>
      <li class="community-new-items">
        <%= f.label :name,"イベント名", class: "communityNew-name" %>
        <%= f.text_field :name, class: "communityNew-name-text"%>
      </li>
      <li class="community-new-items">
        <%= f.label :date,"開催日時", class: "communityNew-name" %>
        <div class="time">
          <%= f.datetime_select :date, :class => "communityNew-name-text time-choose" %>
        </div>
      </li>
      <li class="community-new-items">
        <%= f.label :location,"開催場所", class: "communityNew-name" %>
        <%= f.text_field :location, class: "communityNew-name-text"%>
      </li>
      <li class="community-new-items">
        <%= f.label :money,"費用", class: "communityNew-name" %>
        <%= f.text_field :money, class: "communityNew-name-text"%>
      </li>
      <li class="community-new-items">
        <%= f.label :content,"このイベントについて", class: "communityNew-name" %>
        <%= f.text_area :content, class: "communityNew-name-text"%>
      </li>
      <%= f.submit "編集完了!", class: "profileForm__submit", id: "commu" %>
    </ul>
    <% end %>
  </div>
</body>
