<% provide(:title,@event.name) %>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body class="communityBody">
  <div class="profile-header">
    <h1 class="go-to-top">
      <%= link_to '', communities_path, class: 'to-top' %>
    </h1>
    <%= link_to edit_event_path(@event.id) do %>
      <i class="fa fa-pencil"></i>
    <% end %>
  </div>

  <div class="choose-photo commu-photo comu-cen">
    <%= image_tag @event.picture.url if @event.picture? %>
  </div>

  <div class="community-show">
    <h2 class="community-show-name"> <%= @event.name %> </h2>

    <h3 class="community-show-title">設立者</h3>
    <p class="community-show-text"><%= @event.user.name %><p>

    <h3 class="community-show-title">詳細</h3>
    <ul class="event-details">
      <%# 場所 %>
      <li class="event-detail"><i class="fa fa-map-marker" aria-hidden="true"></i>　<%= @event.location %></li>
      <%# 日時 %>
      <li class="event-detail"><i class="fa fa-clock-o" aria-hidden="true"></i>　<%= @event.date %></li>
      <%# お金 %>
      <li class="event-detail"><i class="fa fa-jpy" aria-hidden="true"></i>　<%= @event.money %></li>
    </ul>

    <h3 class="community-show-title">このイベントについて</h3>
    <p class="community-show-text"><%= @event.content %></p>

    <p>コミュニティへ戻る。</p>
    <h3><%= link_to @community.name, @community %></h3>


  </div>
</body>
