<% provide(:title,@event.name) %>

<p>写真的な何かがある</p>

<p>
イベント名:<%= @event.name %>
</p>

<p>
主催者:<%= @event.user.name %>
</p>


<p>詳細</p>
<ul>
  <%# 場所 %>
  <li><%= @event.location %></li>
  <%# 日時 %>
  <li><%= @event.date %></li>
  <%# お金 %>
  <li><%= @event.money %></li>
</ul>

このイベントについて:<%= @event.content %>

<h2>管理者しか編集できないボタン。</h2>
<%= link_to "イベントを編集する", edit_event_path(@event.id),class: "" %>
