<% provide(:title, "コミュニティ作成ページ") %>

<body class="community-new">
  <h1 class="community-new-title">コミュニティ作成</h1>

  <div>
    <%= form_for(@community) do |f| %>
    <div class="choose-photo">写真</div>

    <ul class="">
      <li class="community-new-items">
        <%= f.label :name,"コミュニティ名", class: "communityNew-name" %>
        <%= f.text_field :name, :class => "communityNew-name-text" %>
      </li>
      <li class="community-new-items">
        <%= f.label :category,"カテゴリ", class: "communityNew-name communityNew-category-choose" %>
        <%= f.select :category, [ ["すべて", "すべて"], ["アクセサリー", "アクセサリー"], ["ファッション", "ファッション"], ["雑貨", "雑化"], ["素材","素材"] ], class: "communityNew-category-choose" %>
      </li>
      <li class="community-new-items">
        <%= f.label :content,"コミュニティの説明", class: "communityNew-name community-intro" %>
        <%= f.text_area :content, :class => "communityNew-name-text commu-intro" %>
      </li>
      <p class="communityNew-name community-new-items chose">以下どちらかを選択して下さい。</p>
      <li class="community-new-items">
          <%= f.radio_button :admin_allowed, false , checked: "checked"%>
          <%= f.label :admin_allowed, "コミュニティメンバーであれば誰でもイベントを作れるようにする", class: "choose-open-close" %>
      </li>
      <li class="community-new-items close">
          <%= f.radio_button :admin_allowed, true %>
          <%= f.label :admin_allowed, "あなたしかイベントを作成できないようにする", class: "choose-open-close" %>
      </li>
      <%= f.submit "コミュニティを作成", class: "profileForm__submit", id: "commu"%>
    </ul>
    <% end %>
  </div>
</body>
