<% provide(:title, "コミュニティ作成ページ") %>

<h1>コミュニティ作成ページ</h1>


<div class="signupPage">
  <%= form_for(@community) do |f| %>

  <ul class="">
    <li>
      <%= f.label :name,"コミュニティ名", class: "" %>
      <%= f.text_field :name, :class => "" %>
    </li>
    <li>
      <%= f.label :caregory,"カテゴリ", class: "" %>
      <%= f.select :caregory, [ ["すべて", "すべて"], ["アクセサリー", "アクセサリー"], ["ファッション", "ファッション"], ["雑貨", "雑化"], ["素材","素材"] ] %>
    </li>
    <li>
      <%= f.label :content,"コミュニティの説明", class: "" %>
      <%= f.text_area :content, :class => "" %>
    </li>
    <p>以下どちらかを選択して下さい。</p>
    <li>
        <%= f.radio_button :admin_allowed, false %>
        <%= f.label :admin_allowed,"コミュニティメンバーであれば誰でもイベントを作れるようにする", class: "" %>
    </li>
    <li>
        <%= f.radio_button :admin_allowed, true %>
        <%= f.label :admin_allowed,"あなたしかイベントを作成できないようにする", class: "" %>
    </li>
    <%= f.submit "コミュニティを作成", class: ""%>
  </ul>
  <% end %>
</div>
