<% provide(:title,@community.name) %>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body class="communityBody">
  <div class="profile-header">
    <h1 class="go-to-top">
      <%= link_to '', communities_path, class: 'to-top' %>
    </h1>
    <%= link_to edit_community_path(@community.id) do %>
      <i class="fa fa-pencil"></i>
    <% end %>
  </div>

  <div class="choose-photo commu-photo">写真</div>

  <div class="community-show">
    <h2 class="community-show-name"> <%= @community.name %> </h2>

    <h3 class="community-show-title">設立者</h3>
    <p class="community-show-text"><%= @community.user.name %><p>

    <h3 class="community-show-title">カテゴリ</h3>
    <p class="community-show-text"><%= @community.category %><p>

    <h3 class="community-show-title">このコミュニティについて</h3>
    <p class="community-show-text"><%= @community.content %></p>

    <h3 class="community-show-title">イベント作成について</h3>
    <% if @community.admin_allowed %>
      <p class="community-show-text">管理者しかイベントを作成する事ができないです。</p>
    <% else %>
      <p class="community-show-text">誰でも自由にイベントを作成する事ができます</p>
    <% end %>

    <h3 class="community-show-title">開催イベント</h3>
    <%= link_to "イベントを作成", events_community_path, class: "create-event" %>
  </div>
</body>
